<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--controller组件的扫描-->
    <context:component-scan base-package="com.itheima.controller"></context:component-scan>

    <!--配置自定义请求参数转换器-->
    <bean class="org.springframework.context.support.ConversionServiceFactoryBean" id="serviceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.itheima.convert.StringToDateConverter"></bean>
            </set>
        </property>
    </bean>

    <!--开启springmvc的注解支持，consersion-service属性：使用自定义的参数转换器-->
    <mvc:annotation-driven conversion-service="serviceFactoryBean">
        <!--json数据转换为实体类的配置-->
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <list>
                        <value>WriteMapNullValue</value>
                        <value>WriteDateUseDateFormat</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>