<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--配全局初始化参数:applicationContext.xml；spring的配置文件-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
<!--
  &lt;!&ndash;配置listener监听器：自定义的监听器&ndash;&gt;
  <listener>
    <listener-class>com.itheima.listener.ContextLoadListener</listener-class>
  </listener>-->

  <!--配置spring-web提供的ContextLoaderListener监听器，用于加载spring配置文件，初始化spring容器-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--配置servlet-->
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.itheima.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
</web-app>
