<?xml version="1.0" encoding="UTF-8"?>
<!--mybatis的(DTD)文档类型约束，进行相关标签的提示和约束-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.UserMapper">

    <select id="findAll" resultType="user">
        select * from user
    </select>

    <select id="findById" resultType="user" parameterType="int">
        select * from user where id=${id}
    </select>

    <resultMap id="UserAndAccount" type="user" autoMapping="true">
        <id property="id" column="uid"/>
        <!--collection标签：建立一对多/多对多的映射关系
                property属性：指定当前实体类中，包含的引用实体，属性名称
                ofType属性：指定引用实体类类型
            -->
        <collection property="accounts" ofType="account" autoMapping="true">
            <id property="id" column="aid"/>
        </collection>
    </resultMap>
    <select id="findUserAndAccount" resultMap="UserAndAccount">
        select u.id uid ,u.username,u.birthday,u.sex,u.address,a.id aid,a.uid,a.money from user u left join account a on u.id=a.uid
    </select>

</mapper>